.stretch:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.stretch{display:inline-block}
.stretch{display:block}
* html .stretch{height:1px}

#gf_001 {
	float:left;
	width:100%;
	margin: 1em auto;
	position:relative;
	font-size:13px;
	font-family: $sans;
	img {width:100%}

	.grfxhead {width:100%; margin-bottom:.3em; font-size:22px; float:left; font-family: $serif; font-weight:bold;}
	.grfxintro {width:100%; margin-bottom:.7em; font-size:15px; letter-spacing:0.003em; line-height:1.428; float:left; max-width:650px;}
	.grfxcontainer {width:100%; float:left; position:relative; margin:0.5em 0;}

	.source { color:#999; text-transform: uppercase; font-size:11px; width:100%; float:left; margin-top:0.75em; margin-bottom:2.5em;}

	@media only screen and (max-width: 620px) {
		width:90%; margin:0 5%;
		.grfxhead {font-size:18px; line-height:1.4em; font-family:$sans;}
	}
}





