#gf_001 {

	.number {display:inline; float:left; width:20px; text-align: center; padding:3px 0; margin:0.4em 2px; font-weight:bold; color:#CCC; font-size:11px;
		-webkit-box-shadow: inset 0px 0px 1px rgba(0,0,0,0.3); -moz-box-shadow: inset 0px 0px 1px rgba(0,0,0,0.3); box-shadow: inset 0px 0px 1px rgba(0,0,0,0.3);
	}

		/*.number:hover {
			cursor:pointer; color:#000;
			-webkit-box-shadow: inset 0px 0px 1px rgba(0,0,0,1); -moz-box-shadow: inset 0px 0px 1px rgba(0,0,0,1); box-shadow: inset 0px 0px 1px rgba(0,0,0,1);
		}*/

		.selected {
			pointer-events:none;
			color:#000;
			-webkit-box-shadow: inset 0px 0px 1px rgba(0,0,0,1); -moz-box-shadow: inset 0px 0px 1px rgba(0,0,0,1); box-shadow: inset 0px 0px 1px rgba(0,0,0,1);
		}
		
		.right {
			background:#adbf80; color:#FFF;
		}
		.wrong {
			background:#a64d51; color:#FFF;
		}

	#image-cont {
		width:100%; float:left; margin-top:1em;
	}

	#question-cont {
		width:100%; float:left;
	}

		.headline {
			width:100%; float:left; margin:0.7em 0;
			font-family:$sans; font-size:24px;
		}

		#options-cont {
			width:100%; float:left; margin:0.7em 0;
			font-family:$sans; font-size:24px;
		}

			.options {
				width:100%; float:left; padding:0.5em; margin-bottom:0.2em; border-radius:4px;
				-webkit-box-shadow: inset 0px 0px 1px rgba(0,0,0,0.3); -moz-box-shadow: inset 0px 0px 1px rgba(0,0,0,0.3); box-shadow: inset 0px 0px 1px rgba(0,0,0,0.3);
			}

				.options:hover {
					cursor:pointer; font-weight:bold;
					-webkit-box-shadow: inset 0px 0px 1px rgba(0,0,0,1); -moz-box-shadow: inset 0px 0px 1px rgba(0,0,0,1); box-shadow: inset 0px 0px 1px rgba(0,0,0,1);

				}

	#rightanswer-cont {
		width:100%; float:left; margin:0.7em 0; font-size:14px; margin-top:1.5em;
	}

		.explanation {
			width:100%; float:left;
		}

		#nxt {
			width:100%; float:left; margin:0.5em 0; margin-top:1.5em;
			text-align: center; font-size:12px; text-transform: uppercase;
			span {
				padding:.5em 1em; border-radius:4px;
				-webkit-box-shadow: inset 0px 0px 1px rgba(0,0,0,.4); -moz-box-shadow: inset 0px 0px 1px rgba(0,0,0,.4); box-shadow: inset 0px 0px 1px rgba(0,0,0,.4);
			}
				span:hover {
					color:#000; cursor:pointer;
					-webkit-box-shadow: inset 0px 0px 1px rgba(0,0,0,1); -moz-box-shadow: inset 0px 0px 1px rgba(0,0,0,1); box-shadow: inset 0px 0px 1px rgba(0,0,0,1);
				}
		}

	.finalresult {
		width:100%; float:left; text-align: center; 
	}

		.pct {
			width:100%; float:left; font-size:65px; font-family: $headline; line-height:0.8em;
		}
		.txt {
			width:100%; float:left; font-size:28px; font-family: $headline; 
		}
		.again{
			font-size:14px; text-transform: uppercase; font-size:12px; margin-top:2em; width:100%; float:left;
		}

		.again span{
			padding:0.5em 1em; border:1px solid #EEE;
		}

			.again span:hover{
				border:1px solid #000; cursor:pointer;
			}

	@media only screen and (min-width: 730px) and (max-width: 1020px) {

	}

	@media only screen and (min-width: 570px) and (max-width: 730px) {

	}

	@media only screen and (max-width: 570px) {
		.headline {
			font-size:18px;
		}
		#image-cont {
			width:120%; margin-left:-10%;
		}
	}
}
