<style>
.stretch:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.stretch {
  display: inline-block; }

.stretch {
  display: block; }

* html .stretch {
  height: 1px; }

#gf {
  float: left;
  width: 100%;
  margin: 1em auto;
  position: relative;
  font-size: 13px; }
  #gf img {
    width: 100%; }
  #gf .grfxhead {
    font-family: "Pragmatica-web", Helvetica, Arial, sans-serif;
    width: 100%;
    margin-bottom: .3em;
    font-size: 18px;
    font-weight: 600;
    float: left; }
  #gf .grfxintro {
    font-family: "Pragmatica-web", Helvetica, Arial, sans-serif;
    width: 100%;
    margin-bottom: .7em;
    font-size: 15px;
    letter-spacing: 0.003em;
    line-height: 1.428;
    float: left; }
  #gf .grfxcontainer {
    width: 100%;
    float: left;
    position: relative;
    margin: 0.5em 0; }
  #gf .source {
    color: #CCC;
    font-family: "Pragmatica-web", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    width: 100%;
    float: left;
    margin-top: 0.75em;
    margin-bottom: 2.5em; }
  @media only screen and (max-width: 600px) {
    #gf {
      width: 95%;
      margin-left: 2.5%; } }


</style>
<!-- NO COMMENT IF CINEMATIC -->
<!-- <div class="cinematic-element fullsize-element ">
<div class="aspect-ratio-wrapper sixteennine"> -->

<!-- NO COMMENT IF MEDIUM -->
<!-- <div class="fullsize-element"> -->
	<!-- <div class="media_medium--container container"> -->

		<div id="gf">

			<div class="grfxhead">Graphic headline</div>
			<div class="grfxintro">Little intro for the graphic. Both headline and intro can be commented or deleted if they're not needed.</div>

			<div class="grfxcontainer stretch">
				Your stuff
			</div>	

			<div class="source">NG STAFF</br>SOURCE: NATIONAL GEOGRAPHIC</div>

		</div>

<!-- NO COMMENT IF MEDIUM OR CINEMATIC-->
<!-- </div></div> -->



<script>
!function(){function evalScript(e,t){t.src?jQuery.ajax({url:t.src,async:!1,dataType:"script"}):jQuery.globalEval(t.text||t.textContent||t.innerHTML||""),t.parentNode&&t.parentNode.removeChild(t)}function now(){return+new Date}function num(e,t){return e[0]&&parseInt(jQuery.curCSS(e[0],t,!0),10)||0}function bindReady(){if(!readyBound){if(readyBound=!0,document.addEventListener&&!jQuery.browser.opera&&document.addEventListener("DOMContentLoaded",jQuery.ready,!1),jQuery.browser.msie&&window==top&&function(){if(!jQuery.isReady){try{document.documentElement.doScroll("left")}catch(e){return void setTimeout(arguments.callee,0)}jQuery.ready()}}(),jQuery.browser.opera&&document.addEventListener("DOMContentLoaded",function(){if(!jQuery.isReady){for(var e=0;e<document.styleSheets.length;e++)if(document.styleSheets[e].disabled)return void setTimeout(arguments.callee,0);jQuery.ready()}},!1),jQuery.browser.safari){var e;!function(){return jQuery.isReady?void 0:"loaded"!=document.readyState&&"complete"!=document.readyState?void setTimeout(arguments.callee,0):(e===undefined&&(e=jQuery("style, link[rel=stylesheet]").length),document.styleSheets.length!=e?void setTimeout(arguments.callee,0):void jQuery.ready())}()}jQuery.event.add(window,"load",jQuery.ready)}}var _jQuery=window.jQuery,_$=window.$,jQuery=window.jQuery=window.$=function(e,t){return new jQuery.fn.init(e,t)},quickExpr=/^[^<]*(<(.|\s)+>)[^>]*$|^#(\w+)$/,isSimple=/^.[^:#\[\.]*$/,undefined;jQuery.fn=jQuery.prototype={init:function(e,t){if(e=e||document,e.nodeType)return this[0]=e,this.length=1,this;if("string"==typeof e){var r=quickExpr.exec(e);if(!r||!r[1]&&t)return jQuery(t).find(e);if(r[1])e=jQuery.clean([r[1]],t);else{var n=document.getElementById(r[3]);if(n)return n.id!=r[3]?jQuery().find(e):jQuery(n);e=[]}}else if(jQuery.isFunction(e))return jQuery(document)[jQuery.fn.ready?"ready":"load"](e);return this.setArray(jQuery.makeArray(e))},jquery:"1.2.6",size:function(){return this.length},length:0,get:function(e){return e==undefined?jQuery.makeArray(this):this[e]},pushStack:function(e){var t=jQuery(e);return t.prevObject=this,t},setArray:function(e){return this.length=0,Array.prototype.push.apply(this,e),this},each:function(e,t){return jQuery.each(this,e,t)},index:function(e){return jQuery.inArray(e&&e.jquery?e[0]:e,this)},attr:function(e,t,r){var n=e;if(e.constructor==String){if(t===undefined)return this[0]&&jQuery[r||"attr"](this[0],e);n={},n[e]=t}return this.each(function(t){for(e in n)jQuery.attr(r?this.style:this,e,jQuery.prop(this,n[e],r,t,e))})},css:function(e,t){return("width"==e||"height"==e)&&parseFloat(t)<0&&(t=undefined),this.attr(e,t,"curCSS")},text:function(e){if("object"!=typeof e&&null!=e)return this.empty().append((this[0]&&this[0].ownerDocument||document).createTextNode(e));var t="";return jQuery.each(e||this,function(){jQuery.each(this.childNodes,function(){8!=this.nodeType&&(t+=1!=this.nodeType?this.nodeValue:jQuery.fn.text([this]))})}),t},wrapAll:function(e){return this[0]&&jQuery(e,this[0].ownerDocument).clone().insertBefore(this[0]).map(function(){for(var e=this;e.firstChild;)e=e.firstChild;return e}).append(this),this},wrapInner:function(e){return this.each(function(){jQuery(this).contents().wrapAll(e)})},wrap:function(e){return this.each(function(){jQuery(this).wrapAll(e)})},append:function(){return this.domManip(arguments,!0,!1,function(e){1==this.nodeType&&this.appendChild(e)})},prepend:function(){return this.domManip(arguments,!0,!0,function(e){1==this.nodeType&&this.insertBefore(e,this.firstChild)})},before:function(){return this.domManip(arguments,!1,!1,function(e){this.parentNode.insertBefore(e,this)})},after:function(){return this.domManip(arguments,!1,!0,function(e){this.parentNode.insertBefore(e,this.nextSibling)})},end:function(){return this.prevObject||jQuery([])},find:function(e){var t=jQuery.map(this,function(t){return jQuery.find(e,t)});return this.pushStack(/[^+>] [^+>]/.test(e)||e.indexOf("..")>-1?jQuery.unique(t):t)},clone:function(e){var t=this.map(function(){if(jQuery.browser.msie&&!jQuery.isXMLDoc(this)){var e=this.cloneNode(!0),t=document.createElement("div");return t.appendChild(e),jQuery.clean([t.innerHTML])[0]}return this.cloneNode(!0)}),r=t.find("*").andSelf().each(function(){this[expando]!=undefined&&(this[expando]=null)});return e===!0&&this.find("*").andSelf().each(function(e){if(3!=this.nodeType){var t=jQuery.data(this,"events");for(var n in t)for(var i in t[n])jQuery.event.add(r[e],n,t[n][i],t[n][i].data)}}),t},filter:function(e){return this.pushStack(jQuery.isFunction(e)&&jQuery.grep(this,function(t,r){return e.call(t,r)})||jQuery.multiFilter(e,this))},not:function(e){if(e.constructor==String){if(isSimple.test(e))return this.pushStack(jQuery.multiFilter(e,this,!0));e=jQuery.multiFilter(e,this)}var t=e.length&&e[e.length-1]!==undefined&&!e.nodeType;return this.filter(function(){return t?jQuery.inArray(this,e)<0:this!=e})},add:function(e){return this.pushStack(jQuery.unique(jQuery.merge(this.get(),"string"==typeof e?jQuery(e):jQuery.makeArray(e))))},is:function(e){return!!e&&jQuery.multiFilter(e,this).length>0},hasClass:function(e){return this.is("."+e)},val:function(e){if(e==undefined){if(this.length){var t=this[0];if(jQuery.nodeName(t,"select")){var r=t.selectedIndex,n=[],i=t.options,a="select-one"==t.type;if(0>r)return null;for(var o=a?r:0,u=a?r+1:i.length;u>o;o++){var s=i[o];if(s.selected){if(e=jQuery.browser.msie&&!s.attributes.value.specified?s.text:s.value,a)return e;n.push(e)}}return n}return(this[0].value||"").replace(/\r/g,"")}return undefined}return e.constructor==Number&&(e+=""),this.each(function(){if(1==this.nodeType)if(e.constructor==Array&&/radio|checkbox/.test(this.type))this.checked=jQuery.inArray(this.value,e)>=0||jQuery.inArray(this.name,e)>=0;else if(jQuery.nodeName(this,"select")){var t=jQuery.makeArray(e);jQuery("option",this).each(function(){this.selected=jQuery.inArray(this.value,t)>=0||jQuery.inArray(this.text,t)>=0}),t.length||(this.selectedIndex=-1)}else this.value=e})},html:function(e){return e==undefined?this[0]?this[0].innerHTML:null:this.empty().append(e)},replaceWith:function(e){return this.after(e).remove()},eq:function(e){return this.slice(e,e+1)},slice:function(){return this.pushStack(Array.prototype.slice.apply(this,arguments))},map:function(e){return this.pushStack(jQuery.map(this,function(t,r){return e.call(t,r,t)}))},andSelf:function(){return this.add(this.prevObject)},data:function(e,t){var r=e.split(".");if(r[1]=r[1]?"."+r[1]:"",t===undefined){var n=this.triggerHandler("getData"+r[1]+"!",[r[0]]);return n===undefined&&this.length&&(n=jQuery.data(this[0],e)),n===undefined&&r[1]?this.data(r[0]):n}return this.trigger("setData"+r[1]+"!",[r[0],t]).each(function(){jQuery.data(this,e,t)})},removeData:function(e){return this.each(function(){jQuery.removeData(this,e)})},domManip:function(e,t,r,n){var i,a=this.length>1;return this.each(function(){i||(i=jQuery.clean(e,this.ownerDocument),r&&i.reverse());var o=this;t&&jQuery.nodeName(this,"table")&&jQuery.nodeName(i[0],"tr")&&(o=this.getElementsByTagName("tbody")[0]||this.appendChild(this.ownerDocument.createElement("tbody")));var u=jQuery([]);jQuery.each(i,function(){var e=a?jQuery(this).clone(!0)[0]:this;jQuery.nodeName(e,"script")?u=u.add(e):(1==e.nodeType&&(u=u.add(jQuery("script",e).remove())),n.call(o,e))}),u.each(evalScript)})}},jQuery.fn.init.prototype=jQuery.fn,jQuery.extend=jQuery.fn.extend=function(){var e,t=arguments[0]||{},r=1,n=arguments.length,i=!1;for(t.constructor==Boolean&&(i=t,t=arguments[1]||{},r=2),"object"!=typeof t&&"function"!=typeof t&&(t={}),n==r&&(t=this,--r);n>r;r++)if(null!=(e=arguments[r]))for(var a in e){var o=t[a],u=e[a];t!==u&&(i&&u&&"object"==typeof u&&!u.nodeType?t[a]=jQuery.extend(i,o||(null!=u.length?[]:{}),u):u!==undefined&&(t[a]=u))}return t};var expando="jQuery"+now(),uuid=0,windowData={},exclude=/z-?index|font-?weight|opacity|zoom|line-?height/i,defaultView=document.defaultView||{};jQuery.extend({noConflict:function(e){return window.$=_$,e&&(window.jQuery=_jQuery),jQuery},isFunction:function(e){return!!e&&"string"!=typeof e&&!e.nodeName&&e.constructor!=Array&&/^[\s[]?function/.test(e+"")},isXMLDoc:function(e){return e.documentElement&&!e.body||e.tagName&&e.ownerDocument&&!e.ownerDocument.body},globalEval:function(e){if(e=jQuery.trim(e)){var t=document.getElementsByTagName("head")[0]||document.documentElement,r=document.createElement("script");r.type="text/javascript",jQuery.browser.msie?r.text=e:r.appendChild(document.createTextNode(e)),t.insertBefore(r,t.firstChild),t.removeChild(r)}},nodeName:function(e,t){return e.nodeName&&e.nodeName.toUpperCase()==t.toUpperCase()},cache:{},data:function(e,t,r){e=e==window?windowData:e;var n=e[expando];return n||(n=e[expando]=++uuid),t&&!jQuery.cache[n]&&(jQuery.cache[n]={}),r!==undefined&&(jQuery.cache[n][t]=r),t?jQuery.cache[n][t]:n},removeData:function(e,t){e=e==window?windowData:e;var r=e[expando];if(t){if(jQuery.cache[r]){delete jQuery.cache[r][t],t="";for(t in jQuery.cache[r])break;t||jQuery.removeData(e)}}else{try{delete e[expando]}catch(n){e.removeAttribute&&e.removeAttribute(expando)}delete jQuery.cache[r]}},each:function(e,t,r){var n,i=0,a=e.length;if(r)if(a==undefined){for(n in e)if(t.apply(e[n],r)===!1)break}else for(;a>i&&t.apply(e[i++],r)!==!1;);else if(a==undefined){for(n in e)if(t.call(e[n],n,e[n])===!1)break}else for(var o=e[0];a>i&&t.call(o,i,o)!==!1;o=e[++i]);return e},prop:function(e,t,r,n,i){return jQuery.isFunction(t)&&(t=t.call(e,n)),t&&t.constructor==Number&&"curCSS"==r&&!exclude.test(i)?t+"px":t},className:{add:function(e,t){jQuery.each((t||"").split(/\s+/),function(t,r){1!=e.nodeType||jQuery.className.has(e.className,r)||(e.className+=(e.className?" ":"")+r)})},remove:function(e,t){1==e.nodeType&&(e.className=t!=undefined?jQuery.grep(e.className.split(/\s+/),function(e){return!jQuery.className.has(t,e)}).join(" "):"")},has:function(e,t){return jQuery.inArray(t,(e.className||e).toString().split(/\s+/))>-1}},swap:function(e,t,r){var n={};for(var i in t)n[i]=e.style[i],e.style[i]=t[i];r.call(e);for(var i in t)e.style[i]=n[i]},css:function(e,t,r){function n(){i="width"==t?e.offsetWidth:e.offsetHeight;var r=0,n=0;jQuery.each(o,function(){r+=parseFloat(jQuery.curCSS(e,"padding"+this,!0))||0,n+=parseFloat(jQuery.curCSS(e,"border"+this+"Width",!0))||0}),i-=Math.round(r+n)}if("width"==t||"height"==t){var i,a={position:"absolute",visibility:"hidden",display:"block"},o="width"==t?["Left","Right"]:["Top","Bottom"];return jQuery(e).is(":visible")?n():jQuery.swap(e,a,n),Math.max(0,i)}return jQuery.curCSS(e,t,r)},curCSS:function(e,t,r){function n(e){if(!jQuery.browser.safari)return!1;var t=defaultView.getComputedStyle(e,null);return!t||""==t.getPropertyValue("color")}var i,a=e.style;if("opacity"==t&&jQuery.browser.msie)return i=jQuery.attr(a,"opacity"),""==i?"1":i;if(jQuery.browser.opera&&"display"==t){var o=a.outline;a.outline="0 solid black",a.outline=o}if(t.match(/float/i)&&(t=styleFloat),!r&&a&&a[t])i=a[t];else if(defaultView.getComputedStyle){t.match(/float/i)&&(t="float"),t=t.replace(/([A-Z])/g,"-$1").toLowerCase();var u=defaultView.getComputedStyle(e,null);if(u&&!n(e))i=u.getPropertyValue(t);else{for(var s=[],l=[],d=e,c=0;d&&n(d);d=d.parentNode)l.unshift(d);for(;c<l.length;c++)n(l[c])&&(s[c]=l[c].style.display,l[c].style.display="block");for(i="display"==t&&null!=s[l.length-1]?"none":u&&u.getPropertyValue(t)||"",c=0;c<s.length;c++)null!=s[c]&&(l[c].style.display=s[c])}"opacity"==t&&""==i&&(i="1")}else if(e.currentStyle){var f=t.replace(/\-(\w)/g,function(e,t){return t.toUpperCase()});if(i=e.currentStyle[t]||e.currentStyle[f],!/^\d+(px)?$/i.test(i)&&/^\d/.test(i)){var h=a.left,y=e.runtimeStyle.left;e.runtimeStyle.left=e.currentStyle.left,a.left=i||0,i=a.pixelLeft+"px",a.left=h,e.runtimeStyle.left=y}}return i},clean:function(e,t){var r=[];return t=t||document,"undefined"==typeof t.createElement&&(t=t.ownerDocument||t[0]&&t[0].ownerDocument||document),jQuery.each(e,function(e,n){if(n){if(n.constructor==Number&&(n+=""),"string"==typeof n){n=n.replace(/(<(\w+)[^>]*?)\/>/g,function(e,t,r){return r.match(/^(abbr|br|col|img|input|link|meta|param|hr|area|embed)$/i)?e:t+"></"+r+">"});var i=jQuery.trim(n).toLowerCase(),a=t.createElement("div"),o=!i.indexOf("<opt")&&[1,"<select multiple='multiple'>","</select>"]||!i.indexOf("<leg")&&[1,"<fieldset>","</fieldset>"]||i.match(/^<(thead|tbody|tfoot|colg|cap)/)&&[1,"<table>","</table>"]||!i.indexOf("<tr")&&[2,"<table><tbody>","</tbody></table>"]||(!i.indexOf("<td")||!i.indexOf("<th"))&&[3,"<table><tbody><tr>","</tr></tbody></table>"]||!i.indexOf("<col")&&[2,"<table><tbody></tbody><colgroup>","</colgroup></table>"]||jQuery.browser.msie&&[1,"div<div>","</div>"]||[0,"",""];for(a.innerHTML=o[1]+n+o[2];o[0]--;)a=a.lastChild;if(jQuery.browser.msie){for(var u=!i.indexOf("<table")&&i.indexOf("<tbody")<0?a.firstChild&&a.firstChild.childNodes:"<table>"==o[1]&&i.indexOf("<tbody")<0?a.childNodes:[],s=u.length-1;s>=0;--s)jQuery.nodeName(u[s],"tbody")&&!u[s].childNodes.length&&u[s].parentNode.removeChild(u[s]);/^\s/.test(n)&&a.insertBefore(t.createTextNode(n.match(/^\s*/)[0]),a.firstChild)}n=jQuery.makeArray(a.childNodes)}(0!==n.length||jQuery.nodeName(n,"form")||jQuery.nodeName(n,"select"))&&(n[0]==undefined||jQuery.nodeName(n,"form")||n.options?r.push(n):r=jQuery.merge(r,n))}}),r},attr:function(e,t,r){if(!e||3==e.nodeType||8==e.nodeType)return undefined;var n=!jQuery.isXMLDoc(e),i=r!==undefined,a=jQuery.browser.msie;if(t=n&&jQuery.props[t]||t,e.tagName){var o=/href|src|style/.test(t);if("selected"==t&&jQuery.browser.safari&&e.parentNode.selectedIndex,t in e&&n&&!o){if(i){if("type"==t&&jQuery.nodeName(e,"input")&&e.parentNode)throw"type property can't be changed";e[t]=r}return jQuery.nodeName(e,"form")&&e.getAttributeNode(t)?e.getAttributeNode(t).nodeValue:e[t]}if(a&&n&&"style"==t)return jQuery.attr(e.style,"cssText",r);i&&e.setAttribute(t,""+r);var u=a&&n&&o?e.getAttribute(t,2):e.getAttribute(t);return null===u?undefined:u}return a&&"opacity"==t?(i&&(e.zoom=1,e.filter=(e.filter||"").replace(/alpha\([^)]*\)/,"")+(parseInt(r)+""=="NaN"?"":"alpha(opacity="+100*r+")")),e.filter&&e.filter.indexOf("opacity=")>=0?parseFloat(e.filter.match(/opacity=([^)]*)/)[1])/100+"":""):(t=t.replace(/-([a-z])/gi,function(e,t){return t.toUpperCase()}),i&&(e[t]=r),e[t])},trim:function(e){return(e||"").replace(/^\s+|\s+$/g,"")},makeArray:function(e){var t=[];if(null!=e){var r=e.length;if(null==r||e.split||e.setInterval||e.call)t[0]=e;else for(;r;)t[--r]=e[r]}return t},inArray:function(e,t){for(var r=0,n=t.length;n>r;r++)if(t[r]===e)return r;return-1},merge:function(e,t){var r,n=0,i=e.length;if(jQuery.browser.msie)for(;r=t[n++];)8!=r.nodeType&&(e[i++]=r);else for(;r=t[n++];)e[i++]=r;return e},unique:function(e){var t=[],r={};try{for(var n=0,i=e.length;i>n;n++){var a=jQuery.data(e[n]);r[a]||(r[a]=!0,t.push(e[n]))}}catch(o){t=e}return t},grep:function(e,t,r){for(var n=[],i=0,a=e.length;a>i;i++)!r!=!t(e[i],i)&&n.push(e[i]);return n},map:function(e,t){for(var r=[],n=0,i=e.length;i>n;n++){var a=t(e[n],n);null!=a&&(r[r.length]=a)}return r.concat.apply([],r)}});var userAgent=navigator.userAgent.toLowerCase();jQuery.browser={version:(userAgent.match(/.+(?:rv|it|ra|ie)[\/: ]([\d.]+)/)||[])[1],safari:/webkit/.test(userAgent),opera:/opera/.test(userAgent),msie:/msie/.test(userAgent)&&!/opera/.test(userAgent),mozilla:/mozilla/.test(userAgent)&&!/(compatible|webkit)/.test(userAgent)};var styleFloat=jQuery.browser.msie?"styleFloat":"cssFloat";jQuery.extend({boxModel:!jQuery.browser.msie||"CSS1Compat"==document.compatMode,props:{"for":"htmlFor","class":"className","float":styleFloat,cssFloat:styleFloat,styleFloat:styleFloat,readonly:"readOnly",maxlength:"maxLength",cellspacing:"cellSpacing"}}),jQuery.each({parent:function(e){return e.parentNode},parents:function(e){return jQuery.dir(e,"parentNode")},next:function(e){return jQuery.nth(e,2,"nextSibling")},prev:function(e){return jQuery.nth(e,2,"previousSibling")},nextAll:function(e){return jQuery.dir(e,"nextSibling")},prevAll:function(e){return jQuery.dir(e,"previousSibling")},siblings:function(e){return jQuery.sibling(e.parentNode.firstChild,e)},children:function(e){return jQuery.sibling(e.firstChild)},contents:function(e){return jQuery.nodeName(e,"iframe")?e.contentDocument||e.contentWindow.document:jQuery.makeArray(e.childNodes)}},function(e,t){jQuery.fn[e]=function(e){var r=jQuery.map(this,t);return e&&"string"==typeof e&&(r=jQuery.multiFilter(e,r)),this.pushStack(jQuery.unique(r))}}),jQuery.each({appendTo:"append",prependTo:"prepend",insertBefore:"before",insertAfter:"after",replaceAll:"replaceWith"},function(e,t){jQuery.fn[e]=function(){var e=arguments;return this.each(function(){for(var r=0,n=e.length;n>r;r++)jQuery(e[r])[t](this)})}}),jQuery.each({removeAttr:function(e){jQuery.attr(this,e,""),1==this.nodeType&&this.removeAttribute(e)},addClass:function(e){jQuery.className.add(this,e)},removeClass:function(e){jQuery.className.remove(this,e)},toggleClass:function(e){jQuery.className[jQuery.className.has(this,e)?"remove":"add"](this,e)},remove:function(e){(!e||jQuery.filter(e,[this]).r.length)&&(jQuery("*",this).add(this).each(function(){jQuery.event.remove(this),jQuery.removeData(this)}),this.parentNode&&this.parentNode.removeChild(this))},empty:function(){for(jQuery(">*",this).remove();this.firstChild;)this.removeChild(this.firstChild)}},function(e,t){jQuery.fn[e]=function(){return this.each(t,arguments)}}),jQuery.each(["Height","Width"],function(e,t){var r=t.toLowerCase();jQuery.fn[r]=function(e){return this[0]==window?jQuery.browser.opera&&document.body["client"+t]||jQuery.browser.safari&&window["inner"+t]||"CSS1Compat"==document.compatMode&&document.documentElement["client"+t]||document.body["client"+t]:this[0]==document?Math.max(Math.max(document.body["scroll"+t],document.documentElement["scroll"+t]),Math.max(document.body["offset"+t],document.documentElement["offset"+t])):e==undefined?this.length?jQuery.css(this[0],r):null:this.css(r,e.constructor==String?e:e+"px")}});var chars=jQuery.browser.safari&&parseInt(jQuery.browser.version)<417?"(?:[\\w*_-]|\\\\.)":"(?:[\\wĨ-￿*_-]|\\\\.)",quickChild=new RegExp("^>\\s*("+chars+"+)"),quickID=new RegExp("^("+chars+"+)(#)("+chars+"+)"),quickClass=new RegExp("^([#.]?)("+chars+"*)");jQuery.extend({expr:{"":function(e,t,r){return"*"==r[2]||jQuery.nodeName(e,r[2])},"#":function(e,t,r){return e.getAttribute("id")==r[2]},":":{lt:function(e,t,r){return t<r[3]-0},gt:function(e,t,r){return t>r[3]-0},nth:function(e,t,r){return r[3]-0==t},eq:function(e,t,r){return r[3]-0==t},first:function(e,t){return 0==t},last:function(e,t,r,n){return t==n.length-1},even:function(e,t){return t%2==0},odd:function(e,t){return t%2},"first-child":function(e){return e.parentNode.getElementsByTagName("*")[0]==e},"last-child":function(e){return jQuery.nth(e.parentNode.lastChild,1,"previousSibling")==e},"only-child":function(e){return!jQuery.nth(e.parentNode.lastChild,2,"previousSibling")},parent:function(e){return e.firstChild},empty:function(e){return!e.firstChild},contains:function(e,t,r){return(e.textContent||e.innerText||jQuery(e).text()||"").indexOf(r[3])>=0},visible:function(e){return"hidden"!=e.type&&"none"!=jQuery.css(e,"display")&&"hidden"!=jQuery.css(e,"visibility")},hidden:function(e){return"hidden"==e.type||"none"==jQuery.css(e,"display")||"hidden"==jQuery.css(e,"visibility")},enabled:function(e){return!e.disabled},disabled:function(e){return e.disabled},checked:function(e){return e.checked},selected:function(e){return e.selected||jQuery.attr(e,"selected")},text:function(e){return"text"==e.type},radio:function(e){return"radio"==e.type},checkbox:function(e){return"checkbox"==e.type},file:function(e){return"file"==e.type},password:function(e){return"password"==e.type},submit:function(e){return"submit"==e.type},image:function(e){return"image"==e.type},reset:function(e){return"reset"==e.type},button:function(e){return"button"==e.type||jQuery.nodeName(e,"button")},input:function(e){return/input|select|textarea|button/i.test(e.nodeName)},has:function(e,t,r){return jQuery.find(r[3],e).length},header:function(e){return/h\d/i.test(e.nodeName)},animated:function(e){return jQuery.grep(jQuery.timers,function(t){return e==t.elem}).length}}},parse:[/^(\[) *@?([\w-]+) *([!*$^~=]*) *('?"?)(.*?)\4 *\]/,/^(:)([\w-]+)\("?'?(.*?(\(.*?\))?[^(]*?)"?'?\)/,new RegExp("^([:.#]*)("+chars+"+)")],multiFilter:function(e,t,r){for(var n,i=[];e&&e!=n;){n=e;var a=jQuery.filter(e,t,r);e=a.t.replace(/^\s*,\s*/,""),i=r?t=a.r:jQuery.merge(i,a.r)}return i},find:function(e,t){if("string"!=typeof e)return[e];if(t&&1!=t.nodeType&&9!=t.nodeType)return[];t=t||document;for(var r,n,i=[t],a=[];e&&r!=e;){var o=[];r=e,e=jQuery.trim(e);var u=!1,s=quickChild,l=s.exec(e);if(l){n=l[1].toUpperCase();for(var d=0;i[d];d++)for(var c=i[d].firstChild;c;c=c.nextSibling)1!=c.nodeType||"*"!=n&&c.nodeName.toUpperCase()!=n||o.push(c);if(i=o,e=e.replace(s,""),0==e.indexOf(" "))continue;u=!0}else if(s=/^([>+~])\s*(\w*)/i,null!=(l=s.exec(e))){o=[];var f={};n=l[2].toUpperCase(),l=l[1];for(var h=0,y=i.length;y>h;h++)for(var p="~"==l||"+"==l?i[h].nextSibling:i[h].firstChild;p;p=p.nextSibling)if(1==p.nodeType){var m=jQuery.data(p);if("~"==l&&f[m])break;if(n&&p.nodeName.toUpperCase()!=n||("~"==l&&(f[m]=!0),o.push(p)),"+"==l)break}i=o,e=jQuery.trim(e.replace(s,"")),u=!0}if(e&&!u)if(e.indexOf(",")){var j=quickID,l=j.exec(e);l?l=[0,l[2],l[3],l[1]]:(j=quickClass,l=j.exec(e)),l[2]=l[2].replace(/\\/g,"");var Q=i[i.length-1];if("#"==l[1]&&Q&&Q.getElementById&&!jQuery.isXMLDoc(Q)){var g=Q.getElementById(l[2]);(jQuery.browser.msie||jQuery.browser.opera)&&g&&"string"==typeof g.id&&g.id!=l[2]&&(g=jQuery('[@id="'+l[2]+'"]',Q)[0]),i=o=!g||l[3]&&!jQuery.nodeName(g,l[3])?[]:[g]}else{for(var d=0;i[d];d++){var v="#"==l[1]&&l[3]?l[3]:""!=l[1]||""==l[0]?"*":l[2];"*"==v&&"object"==i[d].nodeName.toLowerCase()&&(v="param"),o=jQuery.merge(o,i[d].getElementsByTagName(v))}if("."==l[1]&&(o=jQuery.classFilter(o,l[2])),"#"==l[1]){for(var b=[],d=0;o[d];d++)if(o[d].getAttribute("id")==l[2]){b=[o[d]];break}o=b}i=o}e=e.replace(j,"")}else t==i[0]&&i.shift(),a=jQuery.merge(a,i),o=i=[t],e=" "+e.substr(1,e.length);if(e){var w=jQuery.filter(e,o);i=o=w.r,e=jQuery.trim(w.t)}}return e&&(i=[]),i&&t==i[0]&&i.shift(),a=jQuery.merge(a,i)},classFilter:function(e,t,r){t=" "+t+" ";for(var n=[],i=0;e[i];i++){var a=(" "+e[i].className+" ").indexOf(t)>=0;(!r&&a||r&&!a)&&n.push(e[i])}return n},filter:function(t,r,not){for(var last;t&&t!=last;){last=t;for(var p=jQuery.parse,m,i=0;p[i];i++)if(m=p[i].exec(t)){t=t.substring(m[0].length),m[2]=m[2].replace(/\\/g,"");break}if(!m)break;if(":"==m[1]&&"not"==m[2])r=isSimple.test(m[3])?jQuery.filter(m[3],r,!0).r:jQuery(r).not(m[3]);else if("."==m[1])r=jQuery.classFilter(r,m[2],not);else if("["==m[1]){for(var tmp=[],type=m[3],i=0,rl=r.length;rl>i;i++){var a=r[i],z=a[jQuery.props[m[2]]||m[2]];(null==z||/href|src|selected/.test(m[2]))&&(z=jQuery.attr(a,m[2])||""),(""==type&&!!z||"="==type&&z==m[5]||"!="==type&&z!=m[5]||"^="==type&&z&&!z.indexOf(m[5])||"$="==type&&z.substr(z.length-m[5].length)==m[5]||("*="==type||"~="==type)&&z.indexOf(m[5])>=0)^not&&tmp.push(a)}r=tmp}else if(":"==m[1]&&"nth-child"==m[2]){for(var merge={},tmp=[],test=/(-?)(\d*)n((?:\+|-)?\d*)/.exec("even"==m[3]&&"2n"||"odd"==m[3]&&"2n+1"||!/\D/.test(m[3])&&"0n+"+m[3]||m[3]),first=test[1]+(test[2]||1)-0,last=test[3]-0,i=0,rl=r.length;rl>i;i++){var node=r[i],parentNode=node.parentNode,id=jQuery.data(parentNode);if(!merge[id]){for(var c=1,n=parentNode.firstChild;n;n=n.nextSibling)1==n.nodeType&&(n.nodeIndex=c++);merge[id]=!0}var add=!1;0==first?node.nodeIndex==last&&(add=!0):(node.nodeIndex-last)%first==0&&(node.nodeIndex-last)/first>=0&&(add=!0),add^not&&tmp.push(node)}r=tmp}else{var fn=jQuery.expr[m[1]];"object"==typeof fn&&(fn=fn[m[2]]),"string"==typeof fn&&(fn=eval("false||function(a,i){return "+fn+";}")),r=jQuery.grep(r,function(e,t){return fn(e,t,m,r)},not)}}return{r:r,t:t}},dir:function(e,t){for(var r=[],n=e[t];n&&n!=document;)1==n.nodeType&&r.push(n),n=n[t];return r},nth:function(e,t,r){t=t||1;for(var n=0;e&&(1!=e.nodeType||++n!=t);e=e[r]);return e},sibling:function(e,t){for(var r=[];e;e=e.nextSibling)1==e.nodeType&&e!=t&&r.push(e);return r}}),jQuery.event={add:function(e,t,r,n){if(3!=e.nodeType&&8!=e.nodeType){if(jQuery.browser.msie&&e.setInterval&&(e=window),r.guid||(r.guid=this.guid++),n!=undefined){var i=r;r=this.proxy(i,function(){return i.apply(this,arguments)}),r.data=n}var a=jQuery.data(e,"events")||jQuery.data(e,"events",{}),o=jQuery.data(e,"handle")||jQuery.data(e,"handle",function(){return"undefined"==typeof jQuery||jQuery.event.triggered?void 0:jQuery.event.handle.apply(arguments.callee.elem,arguments)});o.elem=e,jQuery.each(t.split(/\s+/),function(t,n){var i=n.split(".");n=i[0],r.type=i[1];var u=a[n];u||(u=a[n]={},jQuery.event.special[n]&&jQuery.event.special[n].setup.call(e)!==!1||(e.addEventListener?e.addEventListener(n,o,!1):e.attachEvent&&e.attachEvent("on"+n,o))),u[r.guid]=r,jQuery.event.global[n]=!0}),e=null}},guid:1,global:{},remove:function(e,t,r){if(3!=e.nodeType&&8!=e.nodeType){var n,i=jQuery.data(e,"events");if(i){if(t==undefined||"string"==typeof t&&"."==t.charAt(0))for(var a in i)this.remove(e,a+(t||""));else t.type&&(r=t.handler,t=t.type),jQuery.each(t.split(/\s+/),function(t,a){var o=a.split(".");if(a=o[0],i[a]){if(r)delete i[a][r.guid];else for(r in i[a])o[1]&&i[a][r].type!=o[1]||delete i[a][r];for(n in i[a])break;n||(jQuery.event.special[a]&&jQuery.event.special[a].teardown.call(e)!==!1||(e.removeEventListener?e.removeEventListener(a,jQuery.data(e,"handle"),!1):e.detachEvent&&e.detachEvent("on"+a,jQuery.data(e,"handle"))),n=null,delete i[a])}});for(n in i)break;if(!n){var o=jQuery.data(e,"handle");o&&(o.elem=null),jQuery.removeData(e,"events"),jQuery.removeData(e,"handle")}}}},trigger:function(e,t,r,n,i){if(t=jQuery.makeArray(t),e.indexOf("!")>=0){e=e.slice(0,-1);var a=!0}if(r){if(3==r.nodeType||8==r.nodeType)return undefined;var o,u,s=jQuery.isFunction(r[e]||null),l=!t[0]||!t[0].preventDefault;l&&(t.unshift({type:e,target:r,preventDefault:function(){},stopPropagation:function(){},timeStamp:now()}),t[0][expando]=!0),t[0].type=e,a&&(t[0].exclusive=!0);var d=jQuery.data(r,"handle");if(d&&(o=d.apply(r,t)),(!s||jQuery.nodeName(r,"a")&&"click"==e)&&r["on"+e]&&r["on"+e].apply(r,t)===!1&&(o=!1),l&&t.shift(),i&&jQuery.isFunction(i)&&(u=i.apply(r,null==o?t:t.concat(o)),u!==undefined&&(o=u)),s&&n!==!1&&o!==!1&&(!jQuery.nodeName(r,"a")||"click"!=e)){this.triggered=!0;try{r[e]()}catch(c){}}this.triggered=!1}else this.global[e]&&jQuery("*").add([window,document]).trigger(e,t);return o},handle:function(e){var t,r,n,i,a;e=arguments[0]=jQuery.event.fix(e||window.event),n=e.type.split("."),e.type=n[0],n=n[1],i=!n&&!e.exclusive,a=(jQuery.data(this,"events")||{})[e.type];for(var o in a){var u=a[o];(i||u.type==n)&&(e.handler=u,e.data=u.data,r=u.apply(this,arguments),t!==!1&&(t=r),r===!1&&(e.preventDefault(),e.stopPropagation()))}return t},fix:function(e){if(1==e[expando])return e;var t=e;e={originalEvent:t};for(var r="altKey attrChange attrName bubbles button cancelable charCode clientX clientY ctrlKey currentTarget data detail eventPhase fromElement handler keyCode metaKey newValue originalTarget pageX pageY prevValue relatedNode relatedTarget screenX screenY shiftKey srcElement target timeStamp toElement type view wheelDelta which".split(" "),n=r.length;n;n--)e[r[n]]=t[r[n]];if(e[expando]=!0,e.preventDefault=function(){t.preventDefault&&t.preventDefault(),t.returnValue=!1},e.stopPropagation=function(){t.stopPropagation&&t.stopPropagation(),t.cancelBubble=!0},e.timeStamp=e.timeStamp||now(),e.target||(e.target=e.srcElement||document),3==e.target.nodeType&&(e.target=e.target.parentNode),!e.relatedTarget&&e.fromElement&&(e.relatedTarget=e.fromElement==e.target?e.toElement:e.fromElement),null==e.pageX&&null!=e.clientX){var i=document.documentElement,a=document.body;e.pageX=e.clientX+(i&&i.scrollLeft||a&&a.scrollLeft||0)-(i.clientLeft||0),e.pageY=e.clientY+(i&&i.scrollTop||a&&a.scrollTop||0)-(i.clientTop||0)}return!e.which&&(e.charCode||0===e.charCode?e.charCode:e.keyCode)&&(e.which=e.charCode||e.keyCode),!e.metaKey&&e.ctrlKey&&(e.metaKey=e.ctrlKey),!e.which&&e.button&&(e.which=1&e.button?1:2&e.button?3:4&e.button?2:0),e},proxy:function(e,t){return t.guid=e.guid=e.guid||t.guid||this.guid++,t},special:{ready:{setup:function(){bindReady()},teardown:function(){}},mouseenter:{setup:function(){return jQuery.browser.msie?!1:(jQuery(this).bind("mouseover",jQuery.event.special.mouseenter.handler),!0)},teardown:function(){return jQuery.browser.msie?!1:(jQuery(this).unbind("mouseover",jQuery.event.special.mouseenter.handler),!0)},handler:function(e){return withinElement(e,this)?!0:(e.type="mouseenter",jQuery.event.handle.apply(this,arguments))}},mouseleave:{setup:function(){return jQuery.browser.msie?!1:(jQuery(this).bind("mouseout",jQuery.event.special.mouseleave.handler),!0)},teardown:function(){return jQuery.browser.msie?!1:(jQuery(this).unbind("mouseout",jQuery.event.special.mouseleave.handler),!0)},handler:function(e){return withinElement(e,this)?!0:(e.type="mouseleave",jQuery.event.handle.apply(this,arguments))}}}},jQuery.fn.extend({bind:function(e,t,r){return"unload"==e?this.one(e,t,r):this.each(function(){jQuery.event.add(this,e,r||t,r&&t)})},one:function(e,t,r){var n=jQuery.event.proxy(r||t,function(e){return jQuery(this).unbind(e,n),(r||t).apply(this,arguments)});return this.each(function(){jQuery.event.add(this,e,n,r&&t)})},unbind:function(e,t){return this.each(function(){jQuery.event.remove(this,e,t)})},trigger:function(e,t,r){return this.each(function(){jQuery.event.trigger(e,t,this,!0,r)})},triggerHandler:function(e,t,r){return this[0]&&jQuery.event.trigger(e,t,this[0],!1,r)},toggle:function(e){for(var t=arguments,r=1;r<t.length;)jQuery.event.proxy(e,t[r++]);return this.click(jQuery.event.proxy(e,function(e){return this.lastToggle=(this.lastToggle||0)%r,e.preventDefault(),t[this.lastToggle++].apply(this,arguments)||!1}))},hover:function(e,t){return this.bind("mouseenter",e).bind("mouseleave",t)},ready:function(e){return bindReady(),jQuery.isReady?e.call(document,jQuery):jQuery.readyList.push(function(){return e.call(this,jQuery)}),this}}),jQuery.extend({isReady:!1,readyList:[],ready:function(){jQuery.isReady||(jQuery.isReady=!0,jQuery.readyList&&(jQuery.each(jQuery.readyList,function(){this.call(document)}),jQuery.readyList=null),jQuery(document).triggerHandler("ready"))}});var readyBound=!1;jQuery.each("blur,focus,load,resize,scroll,unload,click,dblclick,mousedown,mouseup,mousemove,mouseover,mouseout,change,select,submit,keydown,keypress,keyup,error".split(","),function(e,t){jQuery.fn[t]=function(e){return e?this.bind(t,e):this.trigger(t)}});var withinElement=function(e,t){for(var r=e.relatedTarget;r&&r!=t;)try{r=r.parentNode}catch(n){r=t}return r==t};jQuery(window).bind("unload",function(){jQuery("*").add(document).unbind()}),jQuery.fn.extend({_load:jQuery.fn.load,load:function(e,t,r){if("string"!=typeof e)return this._load(e);var n=e.indexOf(" ");if(n>=0){var i=e.slice(n,e.length);e=e.slice(0,n)}r=r||function(){};var a="GET";t&&(jQuery.isFunction(t)?(r=t,t=null):(t=jQuery.param(t),a="POST"));var o=this;return jQuery.ajax({url:e,type:a,dataType:"html",data:t,complete:function(e,t){("success"==t||"notmodified"==t)&&o.html(i?jQuery("<div/>").append(e.responseText.replace(/<script(.|\s)*?\/script>/g,"")).find(i):e.responseText),o.each(r,[e.responseText,t,e])}}),this},serialize:function(){return jQuery.param(this.serializeArray())},serializeArray:function(){return this.map(function(){return jQuery.nodeName(this,"form")?jQuery.makeArray(this.elements):this}).filter(function(){return this.name&&!this.disabled&&(this.checked||/select|textarea/i.test(this.nodeName)||/text|hidden|password/i.test(this.type))}).map(function(e,t){var r=jQuery(this).val();return null==r?null:r.constructor==Array?jQuery.map(r,function(e){return{name:t.name,value:e}}):{name:t.name,value:r}
}).get()}}),jQuery.each("ajaxStart,ajaxStop,ajaxComplete,ajaxError,ajaxSuccess,ajaxSend".split(","),function(e,t){jQuery.fn[t]=function(e){return this.bind(t,e)}});var jsc=now();jQuery.extend({get:function(e,t,r,n){return jQuery.isFunction(t)&&(r=t,t=null),jQuery.ajax({type:"GET",url:e,data:t,success:r,dataType:n})},getScript:function(e,t){return jQuery.get(e,null,t,"script")},getJSON:function(e,t,r){return jQuery.get(e,t,r,"json")},post:function(e,t,r,n){return jQuery.isFunction(t)&&(r=t,t={}),jQuery.ajax({type:"POST",url:e,data:t,success:r,dataType:n})},ajaxSetup:function(e){jQuery.extend(jQuery.ajaxSettings,e)},ajaxSettings:{url:location.href,global:!0,type:"GET",timeout:0,contentType:"application/x-www-form-urlencoded",processData:!0,async:!0,data:null,username:null,password:null,accepts:{xml:"application/xml, text/xml",html:"text/html",script:"text/javascript, application/javascript",json:"application/json, text/javascript",text:"text/plain",_default:"*/*"}},lastModified:{},ajax:function(e){function t(){e.success&&e.success(a,i),e.global&&jQuery.event.trigger("ajaxSuccess",[p,e])}function r(){e.complete&&e.complete(p,i),e.global&&jQuery.event.trigger("ajaxComplete",[p,e]),e.global&&!--jQuery.active&&jQuery.event.trigger("ajaxStop")}e=jQuery.extend(!0,e,jQuery.extend(!0,{},jQuery.ajaxSettings,e));var n,i,a,o=/=\?(&|$)/g,u=e.type.toUpperCase();if(e.data&&e.processData&&"string"!=typeof e.data&&(e.data=jQuery.param(e.data)),"jsonp"==e.dataType&&("GET"==u?e.url.match(o)||(e.url+=(e.url.match(/\?/)?"&":"?")+(e.jsonp||"callback")+"=?"):e.data&&e.data.match(o)||(e.data=(e.data?e.data+"&":"")+(e.jsonp||"callback")+"=?"),e.dataType="json"),"json"==e.dataType&&(e.data&&e.data.match(o)||e.url.match(o))&&(n="jsonp"+jsc++,e.data&&(e.data=(e.data+"").replace(o,"="+n+"$1")),e.url=e.url.replace(o,"="+n+"$1"),e.dataType="script",window[n]=function(e){a=e,t(),r(),window[n]=undefined;try{delete window[n]}catch(i){}c&&c.removeChild(f)}),"script"==e.dataType&&null==e.cache&&(e.cache=!1),e.cache===!1&&"GET"==u){var s=now(),l=e.url.replace(/(\?|&)_=.*?(&|$)/,"$1_="+s+"$2");e.url=l+(l==e.url?(e.url.match(/\?/)?"&":"?")+"_="+s:"")}e.data&&"GET"==u&&(e.url+=(e.url.match(/\?/)?"&":"?")+e.data,e.data=null),e.global&&!jQuery.active++&&jQuery.event.trigger("ajaxStart");var d=/^(?:\w+:)?\/\/([^\/?#]+)/;if("script"==e.dataType&&"GET"==u&&d.test(e.url)&&d.exec(e.url)[1]!=location.host){var c=document.getElementsByTagName("head")[0],f=document.createElement("script");if(f.src=e.url,e.scriptCharset&&(f.charset=e.scriptCharset),!n){var h=!1;f.onload=f.onreadystatechange=function(){h||this.readyState&&"loaded"!=this.readyState&&"complete"!=this.readyState||(h=!0,t(),r(),c.removeChild(f))}}return c.appendChild(f),undefined}var y=!1,p=window.ActiveXObject?new ActiveXObject("Microsoft.XMLHTTP"):new XMLHttpRequest;e.username?p.open(u,e.url,e.async,e.username,e.password):p.open(u,e.url,e.async);try{e.data&&p.setRequestHeader("Content-Type",e.contentType),e.ifModified&&p.setRequestHeader("If-Modified-Since",jQuery.lastModified[e.url]||"Thu, 01 Jan 1970 00:00:00 GMT"),p.setRequestHeader("X-Requested-With","XMLHttpRequest"),p.setRequestHeader("Accept",e.dataType&&e.accepts[e.dataType]?e.accepts[e.dataType]+", */*":e.accepts._default)}catch(m){}if(e.beforeSend&&e.beforeSend(p,e)===!1)return e.global&&jQuery.active--,p.abort(),!1;e.global&&jQuery.event.trigger("ajaxSend",[p,e]);var j=function(o){if(!y&&p&&(4==p.readyState||"timeout"==o)){if(y=!0,Q&&(clearInterval(Q),Q=null),i="timeout"==o&&"timeout"||!jQuery.httpSuccess(p)&&"error"||e.ifModified&&jQuery.httpNotModified(p,e.url)&&"notmodified"||"success","success"==i)try{a=jQuery.httpData(p,e.dataType,e.dataFilter)}catch(u){i="parsererror"}if("success"==i){var s;try{s=p.getResponseHeader("Last-Modified")}catch(u){}e.ifModified&&s&&(jQuery.lastModified[e.url]=s),n||t()}else jQuery.handleError(e,p,i);r(),e.async&&(p=null)}};if(e.async){var Q=setInterval(j,13);e.timeout>0&&setTimeout(function(){p&&(p.abort(),y||j("timeout"))},e.timeout)}try{p.send(e.data)}catch(m){jQuery.handleError(e,p,null,m)}return e.async||j(),p},handleError:function(e,t,r,n){e.error&&e.error(t,r,n),e.global&&jQuery.event.trigger("ajaxError",[t,e,n])},active:0,httpSuccess:function(e){try{return!e.status&&"file:"==location.protocol||e.status>=200&&e.status<300||304==e.status||1223==e.status||jQuery.browser.safari&&e.status==undefined}catch(t){}return!1},httpNotModified:function(e,t){try{var r=e.getResponseHeader("Last-Modified");return 304==e.status||r==jQuery.lastModified[t]||jQuery.browser.safari&&e.status==undefined}catch(n){}return!1},httpData:function(xhr,type,filter){var ct=xhr.getResponseHeader("content-type"),xml="xml"==type||!type&&ct&&ct.indexOf("xml")>=0,data=xml?xhr.responseXML:xhr.responseText;if(xml&&"parsererror"==data.documentElement.tagName)throw"parsererror";return filter&&(data=filter(data,type)),"script"==type&&jQuery.globalEval(data),"json"==type&&(data=eval("("+data+")")),data},param:function(e){var t=[];if(e.constructor==Array||e.jquery)jQuery.each(e,function(){t.push(encodeURIComponent(this.name)+"="+encodeURIComponent(this.value))});else for(var r in e)e[r]&&e[r].constructor==Array?jQuery.each(e[r],function(){t.push(encodeURIComponent(r)+"="+encodeURIComponent(this))}):t.push(encodeURIComponent(r)+"="+encodeURIComponent(jQuery.isFunction(e[r])?e[r]():e[r]));return t.join("&").replace(/%20/g,"+")}}),jQuery.fn.extend({show:function(e,t){return e?this.animate({height:"show",width:"show",opacity:"show"},e,t):this.filter(":hidden").each(function(){if(this.style.display=this.oldblock||"","none"==jQuery.css(this,"display")){var e=jQuery("<"+this.tagName+" />").appendTo("body");this.style.display=e.css("display"),"none"==this.style.display&&(this.style.display="block"),e.remove()}}).end()},hide:function(e,t){return e?this.animate({height:"hide",width:"hide",opacity:"hide"},e,t):this.filter(":visible").each(function(){this.oldblock=this.oldblock||jQuery.css(this,"display"),this.style.display="none"}).end()},_toggle:jQuery.fn.toggle,toggle:function(e,t){return jQuery.isFunction(e)&&jQuery.isFunction(t)?this._toggle.apply(this,arguments):e?this.animate({height:"toggle",width:"toggle",opacity:"toggle"},e,t):this.each(function(){jQuery(this)[jQuery(this).is(":hidden")?"show":"hide"]()})},slideDown:function(e,t){return this.animate({height:"show"},e,t)},slideUp:function(e,t){return this.animate({height:"hide"},e,t)},slideToggle:function(e,t){return this.animate({height:"toggle"},e,t)},fadeIn:function(e,t){return this.animate({opacity:"show"},e,t)},fadeOut:function(e,t){return this.animate({opacity:"hide"},e,t)},fadeTo:function(e,t,r){return this.animate({opacity:t},e,r)},animate:function(e,t,r,n){var i=jQuery.speed(t,r,n);return this[i.queue===!1?"each":"queue"](function(){if(1!=this.nodeType)return!1;var t,r=jQuery.extend({},i),n=jQuery(this).is(":hidden"),a=this;for(t in e){if("hide"==e[t]&&n||"show"==e[t]&&!n)return r.complete.call(this);("height"==t||"width"==t)&&(r.display=jQuery.css(this,"display"),r.overflow=this.style.overflow)}return null!=r.overflow&&(this.style.overflow="hidden"),r.curAnim=jQuery.extend({},e),jQuery.each(e,function(t,i){var o=new jQuery.fx(a,r,t);if(/toggle|show|hide/.test(i))o["toggle"==i?n?"show":"hide":i](e);else{var u=i.toString().match(/^([+-]=)?([\d+-.]+)(.*)$/),s=o.cur(!0)||0;if(u){var l=parseFloat(u[2]),d=u[3]||"px";"px"!=d&&(a.style[t]=(l||1)+d,s=(l||1)/o.cur(!0)*s,a.style[t]=s+d),u[1]&&(l=("-="==u[1]?-1:1)*l+s),o.custom(s,l,d)}else o.custom(s,i,"")}}),!0})},queue:function(e,t){return(jQuery.isFunction(e)||e&&e.constructor==Array)&&(t=e,e="fx"),!e||"string"==typeof e&&!t?queue(this[0],e):this.each(function(){t.constructor==Array?queue(this,e,t):(queue(this,e).push(t),1==queue(this,e).length&&t.call(this))})},stop:function(e,t){var r=jQuery.timers;return e&&this.queue([]),this.each(function(){for(var e=r.length-1;e>=0;e--)r[e].elem==this&&(t&&r[e](!0),r.splice(e,1))}),t||this.dequeue(),this}});var queue=function(e,t,r){if(e){t=t||"fx";var n=jQuery.data(e,t+"queue");(!n||r)&&(n=jQuery.data(e,t+"queue",jQuery.makeArray(r)))}return n};jQuery.fn.dequeue=function(e){return e=e||"fx",this.each(function(){var t=queue(this,e);t.shift(),t.length&&t[0].call(this)})},jQuery.extend({speed:function(e,t,r){var n=e&&e.constructor==Object?e:{complete:r||!r&&t||jQuery.isFunction(e)&&e,duration:e,easing:r&&t||t&&t.constructor!=Function&&t};return n.duration=(n.duration&&n.duration.constructor==Number?n.duration:jQuery.fx.speeds[n.duration])||jQuery.fx.speeds.def,n.old=n.complete,n.complete=function(){n.queue!==!1&&jQuery(this).dequeue(),jQuery.isFunction(n.old)&&n.old.call(this)},n},easing:{linear:function(e,t,r,n){return r+n*e},swing:function(e,t,r,n){return(-Math.cos(e*Math.PI)/2+.5)*n+r}},timers:[],timerId:null,fx:function(e,t,r){this.options=t,this.elem=e,this.prop=r,t.orig||(t.orig={})}}),jQuery.fx.prototype={update:function(){this.options.step&&this.options.step.call(this.elem,this.now,this),(jQuery.fx.step[this.prop]||jQuery.fx.step._default)(this),("height"==this.prop||"width"==this.prop)&&(this.elem.style.display="block")},cur:function(e){if(null!=this.elem[this.prop]&&null==this.elem.style[this.prop])return this.elem[this.prop];var t=parseFloat(jQuery.css(this.elem,this.prop,e));return t&&t>-1e4?t:parseFloat(jQuery.curCSS(this.elem,this.prop))||0},custom:function(e,t,r){function n(e){return i.step(e)}this.startTime=now(),this.start=e,this.end=t,this.unit=r||this.unit||"px",this.now=this.start,this.pos=this.state=0,this.update();var i=this;n.elem=this.elem,jQuery.timers.push(n),null==jQuery.timerId&&(jQuery.timerId=setInterval(function(){for(var e=jQuery.timers,t=0;t<e.length;t++)e[t]()||e.splice(t--,1);e.length||(clearInterval(jQuery.timerId),jQuery.timerId=null)},13))},show:function(){this.options.orig[this.prop]=jQuery.attr(this.elem.style,this.prop),this.options.show=!0,this.custom(0,this.cur()),("width"==this.prop||"height"==this.prop)&&(this.elem.style[this.prop]="1px"),jQuery(this.elem).show()},hide:function(){this.options.orig[this.prop]=jQuery.attr(this.elem.style,this.prop),this.options.hide=!0,this.custom(this.cur(),0)},step:function(e){var t=now();if(e||t>this.options.duration+this.startTime){this.now=this.end,this.pos=this.state=1,this.update(),this.options.curAnim[this.prop]=!0;var r=!0;for(var n in this.options.curAnim)this.options.curAnim[n]!==!0&&(r=!1);if(r&&(null!=this.options.display&&(this.elem.style.overflow=this.options.overflow,this.elem.style.display=this.options.display,"none"==jQuery.css(this.elem,"display")&&(this.elem.style.display="block")),this.options.hide&&(this.elem.style.display="none"),this.options.hide||this.options.show))for(var i in this.options.curAnim)jQuery.attr(this.elem.style,i,this.options.orig[i]);return r&&this.options.complete.call(this.elem),!1}var a=t-this.startTime;return this.state=a/this.options.duration,this.pos=jQuery.easing[this.options.easing||(jQuery.easing.swing?"swing":"linear")](this.state,a,0,1,this.options.duration),this.now=this.start+(this.end-this.start)*this.pos,this.update(),!0}},jQuery.extend(jQuery.fx,{speeds:{slow:600,fast:200,def:400},step:{scrollLeft:function(e){e.elem.scrollLeft=e.now},scrollTop:function(e){e.elem.scrollTop=e.now},opacity:function(e){jQuery.attr(e.elem.style,"opacity",e.now)},_default:function(e){e.elem.style[e.prop]=e.now+e.unit}}}),jQuery.fn.offset=function(){function border(e){add(jQuery.curCSS(e,"borderLeftWidth",!0),jQuery.curCSS(e,"borderTopWidth",!0))}function add(e,t){left+=parseInt(e,10)||0,top+=parseInt(t,10)||0}var results,left=0,top=0,elem=this[0];if(elem)with(jQuery.browser){var parent=elem.parentNode,offsetChild=elem,offsetParent=elem.offsetParent,doc=elem.ownerDocument,safari2=safari&&parseInt(version)<522&&!/adobeair/i.test(userAgent),css=jQuery.curCSS,fixed="fixed"==css(elem,"position");if(elem.getBoundingClientRect){var box=elem.getBoundingClientRect();add(box.left+Math.max(doc.documentElement.scrollLeft,doc.body.scrollLeft),box.top+Math.max(doc.documentElement.scrollTop,doc.body.scrollTop)),add(-doc.documentElement.clientLeft,-doc.documentElement.clientTop)}else{for(add(elem.offsetLeft,elem.offsetTop);offsetParent;)add(offsetParent.offsetLeft,offsetParent.offsetTop),(mozilla&&!/^t(able|d|h)$/i.test(offsetParent.tagName)||safari&&!safari2)&&border(offsetParent),fixed||"fixed"!=css(offsetParent,"position")||(fixed=!0),offsetChild=/^body$/i.test(offsetParent.tagName)?offsetChild:offsetParent,offsetParent=offsetParent.offsetParent;for(;parent&&parent.tagName&&!/^body|html$/i.test(parent.tagName);)/^inline|table.*$/i.test(css(parent,"display"))||add(-parent.scrollLeft,-parent.scrollTop),mozilla&&"visible"!=css(parent,"overflow")&&border(parent),parent=parent.parentNode;(safari2&&(fixed||"absolute"==css(offsetChild,"position"))||mozilla&&"absolute"!=css(offsetChild,"position"))&&add(-doc.body.offsetLeft,-doc.body.offsetTop),fixed&&add(Math.max(doc.documentElement.scrollLeft,doc.body.scrollLeft),Math.max(doc.documentElement.scrollTop,doc.body.scrollTop))}results={top:top,left:left}}return results},jQuery.fn.extend({position:function(){var e;if(this[0]){var t=this.offsetParent(),r=this.offset(),n=/^body|html$/i.test(t[0].tagName)?{top:0,left:0}:t.offset();r.top-=num(this,"marginTop"),r.left-=num(this,"marginLeft"),n.top+=num(t,"borderTopWidth"),n.left+=num(t,"borderLeftWidth"),e={top:r.top-n.top,left:r.left-n.left}}return e},offsetParent:function(){for(var e=this[0].offsetParent;e&&!/^body|html$/i.test(e.tagName)&&"static"==jQuery.css(e,"position");)e=e.offsetParent;return jQuery(e)}}),jQuery.each(["Left","Top"],function(e,t){var r="scroll"+t;jQuery.fn[r]=function(t){return this[0]?t!=undefined?this.each(function(){this==window||this==document?window.scrollTo(e?jQuery(window).scrollLeft():t,e?t:jQuery(window).scrollTop()):this[r]=t}):this[0]==window||this[0]==document?self[e?"pageYOffset":"pageXOffset"]||jQuery.boxModel&&document.documentElement[r]||document.body[r]:this[0][r]:void 0}}),jQuery.each(["Height","Width"],function(e,t){var r=e?"Left":"Top",n=e?"Right":"Bottom";jQuery.fn["inner"+t]=function(){return this[t.toLowerCase()]()+num(this,"padding"+r)+num(this,"padding"+n)},jQuery.fn["outer"+t]=function(e){return this["inner"+t]()+num(this,"border"+r+"Width")+num(this,"border"+n+"Width")+(e?num(this,"margin"+r)+num(this,"margin"+n):0)}})}();
var jQInteractives=jQuery.noConflict();!function(n){n(function(){})}(jQInteractives);
</script>